@import "~@fontsource/josefin-sans/index.css";

:root {
  --font-color: black;
  --font: 'Josefin Sans';
  background-color: #FFDFEC;
}

body {
  color: var(--font-color);
  font-family: var(--font);
}
