.h1 {
    font-size: 36pt;
    text-align: center;
}
.content {
    display: flex;
    justify-content: center;
}
.body {
    font-size: 14pt;
    width: 20%;
    margin-left: 3%;
    text-align: justify;
}

@media only screen and (max-width: 600px) {
    .h1 {
        font-size: 28pt;
    }
}