@import "~@fontsource/josefin-sans/index.css";

.header {
  font-size: 36pt;
  overflow: hidden;
  padding-top: 4px;
  margin-bottom: 3%;
  border-bottom: 4px solid black;
}

.header a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 4px;
}

.headerRight {
  float: right;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown Button */
.dropdown .dropbtn {
  color: black;
  background-color: #FFDFEC;
  border: none;
  padding: 14px 16px;
  font-size: 36pt;
  font-family: 'Josefin Sans';
  margin: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18pt;
}

/* Links inside the dropdown */
.dropdownContent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdownContent {display: block;}

@media screen and (max-width: 1300px) {
  .dropdown {
    margin-left: -9%;
  }
}
@media screen and (max-width: 800px) {
  .header {
   margin-bottom: 20%;
  }
  .header a {
    float: none;
    text-align: left;
    font-size: 24px;
  }
  .headerRight {
    float: none;
    margin-top: 10%;
  }
  .dropdown {
    margin-left: 1.5%;
    margin-top: -10%;
  }
  .dropbtn {
    font-size: 24px;
  }
  .otherLinks {
    margin-right: 20%;
    margin-top: -11.1%;
    float: right;
  }
  .dropdownContent {
    padding-top: 0px;
    padding-bottom: -50px;
  }
  .dropdownContent a {
    display: inline;
  }
}
