.wrapper {
    text-align: center;
}

.h1 {
    font-size: 36pt;
}

.image {
    margin-right: 3%;
}

.flexImages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.flexText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.links {
    background-color: black;
    width: 236px;
    height: 50px;
    margin-right: 3%;
    margin-top: -4px;
}

.links2 {
    background-color: black;
    width: 236px;
    height: 50px;
    margin-top: -4px;
}

.linkText {
    text-decoration: none;
    color: white;
    font-size: 24pt;
}

.mobileLinks {
    display: none;
    background-color: black;
    width: 236px;
    height: 50px;
    margin-right: 3%;
    margin-top: -4px;
}

.mobileLinks2 {
    display: none;
    background-color: black;
    width: 236px;
    height: 50px;
    margin-right: 3%;
    margin-top: -4px;
}

.mobileLinkText {
    display: none;
    text-decoration: none;
    color: white;
    font-size: 24pt;
}

.aboutMeText {
    font-size: 18pt;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 43%;
    width: 15%;
}

.button:link, .button:visited {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    box-shadow: 0px 0px 0px 2px black;
    padding: 0px 5px 0px 5px;
    font-size: 24pt;
    background-color: white;
    border-top: 10px;
    width: 200px;
    height: auto;
    text-decoration: none;
}

.button:hover, .button:active {
    color: white;
    background-color: black;
}

.button2:link, .button2:visited {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    box-shadow: 0px 0px 0px 2px black;
    padding: 0px 30px 0px 30px;
    font-size: 24pt;
    background-color: white;
    border-top: 10px;
    height: auto;
    text-decoration: none;
}

.button2:hover, .button2:active {
    color: white;
    background-color: black;
}

@media only screen and (max-width: 600px) {
    .h1 {
        font-size: 28pt;
    }
    .links {
        display: none;
    }
    .links2 {
        display: none;
    }
    .linkText {
        display: none;
    }
    .mobileLinks {
      display: inline;
      margin-bottom: 5%;
    }
    .mobileLinks2 {
        display: inline;
        margin-bottom: 5%; 
        margin-left: 3%;
    }
    .mobileLinkText {
        display: inline;
        
      }
    .aboutMeText {
        width: 50%;
        margin-left: 25%;
    }
  }