.gallery {
    margin-left: 25%;
    width: 50%;
}

.content {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.content > div {
    margin: 2%;
}
.h1 {
    font-size: 36pt;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .h1 {
        font-size: 28pt;
    }
}