.header {
  font-size: 36pt;
  overflow: hidden;
  padding: 20px 10px;
  border-bottom: 4px solid black;
  margin-bottom: 3%;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
}

.headerRight {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
    font-size: 24px;
  }
  .headerRight {
    float: none;
  }
}
